{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>
        Sell your shares
    </h2>
    <br>
    <form action="/sell" method="post">
      <div class="input-group-append">
        <select class="custom-select" id="inputGroupSelect04" style="width:200px;" name="symbol">
          <option selected disabled>Symbol</option>
          {% for s in stock %}
          <option value="{{ s['symbol']}}" >
            {{ s['symbol']}}
          </option>
          {% endfor %}
        </select>
          <input class="input-group-append " name="shares" type="number" placeholder="Quantity" required min="1" style="width:100px;">
          <button type="submit" class="btn btn-primary">Sell stock</button>
      </div>
    </form>
    <br>
    {% if myWarning %}
    <div class="alert alert-warning" role="alert">
        {{ myWarning }}
      </div>
      {% endif %}
{% endblock %}